{% load thumbnail %}

<div class="row row-cols-1 row-cols-md-5 g-4">
  {% for product in products %}
  <div class="col">
    <div class="card h-100">
      {% thumbnail product.image "1000x1000" as im %}
      <img src="{{ im.url }}" class="card-img-top" alt="...">
      {% endthumbnail %}
      <div class="card-body">
       <a href="{% url 'goods:good_info' product.id %}" style="color:black"> <h5 class="card-title">{{ product.name }}</h5></a>
        <p class="card-text">{{ product.description|truncatewords:10 }}</p>
      </div>
      <div class="card-footer" style="padding-bottom:0px">
        <p class="card-text">{{ product.price }} ₽</p>
        {% include 'includes/shopping_cart.html' %}
        {% include 'includes/heart.html' %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>