<footer style="background-color: #ffa600">
  <div class="container" style="color:white">
    <div class="row">
      <div class="col">
        <ul>
          <li>
            <b>Покупателям</b>
          </li>
          <li>
            <a href="#">Как сделать заказ</a>
          </li>
          <li>
            <a href="#">Способы оплаты</a>
          </li>
          <li>
            <a href="#">Вопросы и ответы</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li>
            <b>Партенрам</b>
          </li>
          <li>
            <a href="#">Авторизироваться как продавец</a>
          </li>
          <li>
            <a href="#">Условное соглашение</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li>
            <b>О компании</b>
          </li>
          <li>
            <a href="#">Ссылки на соцсети</a>
          </li>
          <li>
            <a href="#">История компании</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <p>Горячая линия: +79001231212</p>
      </div>
    </div>
  </div>
</footer>