<footer style="background-color: #ffa600">
  <div class="container py-5" style="color:white; font-size:20px">
    <div class="row">
      <div class="col">
        <ul style="list-style-type: none;">
          <li>
            <b>Покупателям</b>
          </li>
          <li>
            <a href="#" style="text-decoration: none; color:black;">Как сделать заказ</a>
          </li>
          <li>
            <a href="#" style="text-decoration: none; color:black;">Способы оплаты</a>
          </li>
          <li>
            <a href="#" style="text-decoration: none; color:black;">Вопросы и ответы</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <ul style="list-style-type: none;">
          <li>
            <b>Партенрам</b>
          </li>
          <li>
            <a href="#" style="text-decoration: none; color:black;">Авторизироваться как продавец</a>
          </li>
          <li>
            <a href="#" style="text-decoration: none; color:black;">Условное соглашение</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <ul style="list-style-type: none;">
          <li>
            <b>О компании</b>
          </li>
          <li>
            <a href="#" style="text-decoration: none; color:black;">Ссылки на соцсети</a>
          </li>
          <li>
            <a href="#"  style="text-decoration: none; color:black;">История компании</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <p>Горячая линия: +79001231212</p>
        <a class="navbar-brand text-dark" href="#" style="font-size: 24px">
        <span style="color:#ffffff; font-size: 36px">Azi</span><span style="font-size: 36px">Shop</span>
      </a>
      </div>
    </div>
  </div>
</footer>