<header>
  <nav class="navbar" style="background-color: #ffa600">
    <div class="container-fluid">
      <a class="navbar-brand text-dark" href="#" style="font-size: 24px">
        <span style="color:#ffffff">Azi</span>Shop
      </a>
      <form class="d-flex">
        <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">Поиск</button>
      </form>
      <ul class="nav">
        <li class="nav-item">
          <a href="#" class="nav-link" style="color:#ffffff">Каталог</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" style="color:#ffffff">Избранное</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" style="color:#ffffff">Корзина</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" style="color:#ffffff">Профиль</a>
        </li>
      </ul>
    </div>
  </nav>
</header>