<a href="">
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="255" height="255" viewBox="0 0 400 400"
       xml:space="preserve">
<desc>Created with Fabric.js 3.6.2</desc>
    <defs>
</defs>
    <g transform="matrix(0.78 0 0 0.78 200 200)">
<rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;"
      x="-128" y="-128" rx="0" ry="0" width="256" height="256"/>
</g>
    <g transform="matrix(0.78 0 0 0.78 200 200)">
<path style="stroke: rgb(255,0,0); stroke-width: 16; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4;
{% if product.in_fav %}
fill: rgb(255,0,0);
{% else %}
fill: none;
{% endif %}
fill-rule: nonzero; opacity: 1;"
      transform=" translate(-128, -128)"
      d="M 128 216 S 28 160 28 92 A 52 52 0 0 1 128 72 h 0 A 52 52 0 0 1 228 92 C 228 160 128 216 128 216 Z"
      stroke-linecap="round"/>
</g>
</svg>
</a>