{% extends 'base.html' %} {# наследуется от base.html #}
{% load thumbnail %}
{% block title %}{{ product.name }} - AziShop {% endblock %}
{% block content %}
<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <div class="col">
      {% thumbnail product.image "500x500" as im %}
      <img src="{{im.url}}">
      {% endthumbnail %}
    </div>
    <div class="col">
      <h1>{{ product.name }}</h1>
      <p>В категории <a href="{% url 'goods:category_detail' product.category.slug %}" style="color: black;">{{product.category}}</a></p>
      <div style="border: 1px solid black; border-radius:10px; padding: 10px">
        <div class="row">
          <div class="col">
            <ul>
              <li style="font-size: 30px; list-style-type: none">
                <b>{{ product.price}} ₽ </b>
              </li>
              <li style="text-decoration: line-through; color: gray; list-style-type: none">
                {{ product.old_price }}₽
              </li>
            </ul>
          </div>
          <div class="col">
            <button class="button"
                    style="background-color: #ffa600; color: #fff; border-radius:12px; border:none; padding: 15px 32px;">
              Купить
            </button>
            <button class="button" style="background-color: #fff;  border:none;">
              <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="red" class="bi bi-heart"
                   viewBox="0 0 16 16">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
              </svg>
            </button>
            <p>Остаток {{ product.count }}</p>
          </div>

        </div>
      </div>
      <div class="container" style="border: 1px solid black; border-radius:10px; padding: 10px; margin-top: 10px">
        <ul>
          {% for p in parameters %}
          <li>
            {{ p.parameter.name }} .... {{p.value}} {{p.parameter.unit}}
          </li>
          {% endfor %}
        </ul>
      </div>

    </div>
  </div>
</div>
<div class="container" style="border: 1px solid black; border-radius:10px; padding: 10px; margin-top: 10px">
  <p style="margin: 15px">{{ product.description }}</p>
</div>
<style>
  .button {
    float: left;
}


</style>
{% endblock %}