{% extends 'base.html' %} {# наследуется от base.html #}
{% load thumbnail %}
{% block title %}{{ product.name }} - AziShop {% endblock %}
{% block content %}
<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <div class="col">
      {% thumbnail product.image "500x500" as im %}
      <img src="{{im.url}}">
      {% endthumbnail %}
    </div>
    <div class="col">
      <h1>{{ product.name }}</h1>
      <p>В категории <a href="{% url 'goods:category_detail' product.category.slug %}" style="color: black;">{{product.category}}</a>
      </p>
      <div style="border: 1px solid black; border-radius:10px; padding: 10px">
        <div class="row">
          <div class="col">
            <ul>
              <li style="font-size: 30px; list-style-type: none">
                <b>{{ product.price}} ₽ </b>
              </li>
              <li style="text-decoration: line-through; color: gray; list-style-type: none">
                {{ product.old_price }}₽
              </li>
            </ul>
          </div>
          <div class="col">
            <p>Рейтинг {{ rating.rating__avg }} ⭐️</p>
            {% include 'includes/shopping_cart.html' %}
            {% include 'includes/heart.html' %}
            <p>Остаток {{ product.count }}</p>
          </div>

        </div>
      </div>
      <div class="container" style="border: 1px solid black; border-radius:10px; padding: 10px; margin-top: 10px">
        <ul>
          {% for p in parameters %}
          <li>
            {{ p.parameter.name }} .... {{p.value}} {{p.parameter.unit}}
          </li>
          {% endfor %}
        </ul>
      </div>

    </div>
  </div>
</div>
<div class="container" style="border: 1px solid black; border-radius:10px; padding: 10px; margin-top: 10px">
  <p style="margin: 15px">{{ product.description }}</p>
</div>

<div class="py-2" style="border: 1px solid black; border-radius:10px; margin-top:10px">
  {% include 'includes/form_errors.html' %}
  <form action="{% url 'goods:create_review' product.id %}" method="post">
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn" style="background-color:#ffa600; color: white">Отправить отзыв</button>
  </form>
</div>

<div>
  {% for review in reviews %}
  <div class="py-2" style="border: 1px solid black; border-radius:10px; margin-top:10px; padding:15px">
    <h5>{% if review.user.get_full_name %} {{ review.user.get_full_name }} {% else %} {{ review.user }} {% endif %}</h5>
    <span style="text-muted">
      ⭐️{{ review.rating}}
    </span>
    <p>{{review.text}}</p>
  </div>
  {% endfor %}
</div>
<style>
  .button {
    float: left;
}
</style>
{% endblock %}