{% extends 'base.html' %} {# наследуется от base.html #}
{% load thumbnail %}
{% block title %}{{ product.name }} - AziShop {% endblock %}
{% block content %}
<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <div class="col">
      {% thumbnail product.image "500x500" as im %}
      <img src="{{im.url}}">
      {% endthumbnail %}
    </div>
    <div class="col">
      <h1>{{ product.name }}</h1>
      <p>В категории <a href="{% url 'goods:category_detail' product.category.slug %}" style="color: black;">{{product.category}}</a></p>
      <div style="border: 1px solid black; border-radius:10px; padding: 10px">
        <div class="row">
          <div class="col">
            <ul>
              <li style="font-size: 30px; list-style-type: none">
                <b>{{ product.price}} ₽ </b>
              </li>
              <li style="text-decoration: line-through; color: gray; list-style-type: none">
                {{ product.old_price }}₽
              </li>
            </ul>
          </div>
          <div class="col">
            <button class="button"
                    style="background-color: #ffa600; color: #fff; border-radius:12px; border:none; padding: 15px 32px;">
              Купить
            </button>
            <button class="button" style="background-color: #fff;  border:none;">
              <a href="">
                {% include 'includes/heart.svg' %}

              </a>
            </button>
            <p>Остаток {{ product.count }}</p>
          </div>

        </div>
      </div>
      <div class="container" style="border: 1px solid black; border-radius:10px; padding: 10px; margin-top: 10px">
        <ul>
          {% for p in parameters %}
          <li>
            {{ p.parameter.name }} .... {{p.value}} {{p.parameter.unit}}
          </li>
          {% endfor %}
        </ul>
      </div>

    </div>
  </div>
</div>
<div class="container" style="border: 1px solid black; border-radius:10px; padding: 10px; margin-top: 10px">
  <p style="margin: 15px">{{ product.description }}</p>
</div>
<style>
  .button {
    float: left;
}


</style>
{% endblock %}