{% extends 'base.html' %}
{% block title %}Как сделать заказ{% endblock %}
{% block content %}
<div class="container py-5">
  <h1>Как оплатить ваш заказ</h1>
  <p>
    У нас вы можете выбрать наиболее удобный для вас способ оплаты. Мы предлагаем несколько вариантов оплаты, чтобы
    сделать процесс покупок максимально удобным для наших клиентов.
  </p>
  <ol>
    <li>
      <b>Оплата банковской картой</b>
      <p>Мы принимаем оплату большинством популярных банковских карт. Просто выберите этот способ оплаты при оформлении
        заказа и введите данные вашей карты в защищенной форме оплаты.
      </p>
    </li>
    <li>
      <b>Оплата через электронные платежные системы</b>
      <p>Вы также можете воспользоваться услугами электронных платежных систем. Мы поддерживаем широкий выбор платежных
        систем для вашего удобства. Просто выберите нужную платежную систему при оформлении заказа.
      </p>
    </li>
  </ol>
</div>
{% endblock %}




