{% extends 'base.html' %}
{% block title %}Как сделать заказ{% endblock %}
{% block content %}
<div class="container py-5">
  <h1>Как сделать заказ в нашем интернет-магазине</h1>
  <p>Добро пожаловать в наш интернет-магазин! Мы рады, что вы решили сделать покупку у нас. Для вашего удобства мы
    подготовили простую инструкцию о том, как сделать заказ. Следуйте этим шагам, и вы сможете получить желаемый товар в
    кратчайшие сроки.</p>
  <ul>
    <li>
      <b>Шаг 1: Выбор товара</b>
      <p>Первым шагом является выбор товара, который вы хотите приобрести. Перейдите в нужную категорию или
        воспользуйтесь поиском для быстрого поиска конкретного товара.
      </p>
    </li>
    <li>
      <b>
        Шаг 2: Добавление товара в корзину
      </b>
      <p>
        Когда вы нашли подходящий товар, нажмите кнопку "Добавить в корзину". Вы можете продолжить покупки и добавить в
        корзину все необходимые товары.
      </p>
    </li>
    <li>
      <b>
        Шаг 3: Просмотр корзины
      </b>
      <p>
        Когда вы закончите выбор товаров, перейдите в корзину, нажав на соответствующую иконку. Проверьте содержимое
        корзины, убедитесь, что выбранные товары и их количество соответствуют вашим ожиданиям.
      </p>
    </li>
    <li>
      <b>
        Шаг 4: Оформление заказа
      </b>
      <p>
        Нажмите кнопку "Оформить заказ", чтобы перейти к заполнению необходимой информации для доставки. Заполните все
        обязательные поля, укажите предпочтительный способ доставки и выберите удобный для вас метод оплаты.
      </p>
    </li>
    <li>
      <b>
        Шаг 5: Подтверждение заказа
      </b>
      <p>
        Перед подтверждением заказа внимательно проверьте все введенные данные. Если все верно, нажмите "Подтвердить
        заказ". После этого вы получите уведомление о успешном размещении заказа, и мы начнем его обработку.
      </p>
    </li>
    <li>
      <b>Шаг 6: Ожидание доставки</b>
      <p>Теперь остается только дождаться доставки вашего заказа. Мы уведомим вас о статусе доставки, и вы сможете
        отслеживать перемещение товара до момента получения.
      </p>
    </li>
  </ul>
  <p>
    Если у вас возникнут вопросы или затруднения, не стесняйтесь связаться с нашей службой поддержки. Спасибо за выбор
    нашего магазина! Мы надеемся, что ваш опыт покупок у нас будет приятным и удовлетворительным.
  </p>
</div>
{% endblock %}




